@font-face {
    font-family: Montserrat regular;
    src: url(../fonts/Montserratregular.ttf)
}
@font-face {
    font-family: Montserrat Bold;
    src: url(../fonts/Montserrat-Bold.ttf)
}
@font-face {
    font-family: Open Sans Semibold;
    src: url(../fonts/Opensanssemibold.ttf)
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

body{
    padding: 0;
}

header{
    background-color: #4c5eab;
    color: #ffffff;
}

.container{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.container-fluid{
    width: 100%;
    background: linear-gradient(90deg, #fbfcfc 35%, transparent 0%);
}

.d-flex{
    display: flex;
}

.data{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.info{
    display: flex;
    align-items: center;
    width: 75%;
}

.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../img/avatar.jpg");
    background-position: center top -50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.name{
    margin-left: 30px;
}

h1{
    font-family: Montserrat Bold;
    font-size: 50px;
    margin: 0;
}

h2{
    font-family: Open Sans Semibold;
    font-size: 30px;
    margin: 10px 0;
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.contacts-info{
    display: flex;
    align-items: center;
    width: 100%;
}

.contacts-link{
    color: #ffffff;
    font-family: Montserrat regular;
    font-size: 16px;
    padding: 10px;
}

/*aside*/

aside{
    width: 40%;
}

.subtitle{
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.subtitle-img{
    display: block;
}

h3{
    font-family: Montserrat regular;
    font-size: 25px;
    margin-left: 15px;
}

.social-wave{
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.social-link{
    font-family: Montserrat regular;
    font-size: 16px;
    margin-left: 5px;
    color: black;
}

.interests-items{
    display: flex;
    flex-wrap: wrap;
}

.interests-item{
    width: 35%;
}

.interests-img{
    width: 50px;
}

.interests-text{
    font-family: Montserrat regular;
    font-size: 16px;
    margin: 0 0 20px;
}

.skills-list{
    list-style: none;
    padding: 0;
}

.skills-text:before{
    content: '✔';
    color: #4c5eab;
    margin-right: 5px;
}

.skills-text{
    font-family: Open Sans Semibold;
    font-size: 16px;
    margin: 5px 0;
}

/*main*/

.main{
    width: 60%;
}

.experience{
    display: flex;
    margin-bottom: 40px;
}

.experience:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../img/circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.experience-info{
    padding: 0 20px;
    width: 40%;
}

.experience-duty{
    width: 60%;
    padding: 0 20px;
}

.experience-period,
.experience-company,
.experience-duty{
    font-family: Montserrat regular;
    font-size: 16px;
}

h4{
    margin: 10px 0;
    font-family: Open Sans Semibold;
    font-size: 16px;
}

